{% extends "base.html" %}


{% block title %} 
  <title>Projects List</title>
{% endblock %} 

{% block content %} 
  <div class="container">
    <h1 class="display-4">Projects List</h1>
  </div>
  <div class = "container">
    <div class="list-group">
      <a class="list-group-item center"> 
        Project Name |&emsp; Payment received |&emsp; Project Due Date
      </a>
      {% for item in projects %}
      <a href="/projects/{{item.project_name}}" class="list-group-item list-group-item-action list-group-item-primary center">
        {{item.project_name}} &emsp; {{item.parts_orderd}} &emsp; {{item.ship_date}}
      </a>
      {% endfor %}
    </div>
    <!-- {% for item in projects %}
    <div class="row justify-content-start">
      <div class="col">
        {{item.project_name}} 
      </div>
      <div class="col">
        {{item.parts_orderd}} 
      </div>
      <div class="col">
        {{item.ship_date}} 
      </div>
      <div class="col">
        <form action="/projects/{{item.project_name}}" method="get">
          <input id="editProject" type="submit" name="editProject" value="Edit">
        </form>
      </div>
    </div>
      {% endfor %} -->



  </div>

{% endblock %} 